extends layout

block content
  h1= title
  
  table.container(style='width:100%', border='5px', padding='5px', text-align='center', margin='0 auto', font='monospace')
    tr.tableHeader
      th Activator
      th Site Name
      th Site Reference
      th Frequencies
      th Comments
      th Start
      th End	
    
